
*{
    background-color: #242121;
    color: white;
}
.main{
    padding-bottom: 50;
}
.nav-link{
    color: white;

    margin: 7px;
}
.nav-item{
    background-color: #242121;

}
.pollution{
    padding-top: 200px;
}
.card-img-top{
    height: 100%;
    width: 100%;
}


    

=======